name: Build and Deploy
on:
  push:
    branches:    
      - master
permissions:
  contents: read
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: '16'
      - name: Install Dependencies
        run: npm ci
      - name: Build Registry
        run: node index.js build registry
      - name: Deploy Registry
        uses: JamesIves/github-pages-deploy-action@6c2d9db40f9296374acc17b90404b6e8864128c8 # v4.7.3
        with:
          folder: build
