name: Build and Deploy
on:
  push:
    branches:    
      - master
permissions:
  contents: read
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '16'
      - name: Install Dependencies
        run: npm ci
      - name: Build Registry
        run: node index.js build registry
      - name: Deploy Registry
        uses: JamesIves/github-pages-deploy-action@6c2d9db40f9296374acc17b90404b6e8864128c8 # v4.7.3
        with:
          folder: build
