name: Validation Feedback
on:
  workflow_run:
    workflows: [Validate Packages]
    types: [completed]

jobs:
  feedback:
    runs-on: ubuntu-latest
    steps:
      - run: echo 'The triggering workflow passed'
      - name: 'Download pre analysis artifacts'
        uses: actions/github-script@v6
        with:
          script: |
            const fs = require('fs');
            let allArtifacts = await github.rest.actions.listWorkflowRunArtifacts({
               owner: context.repo.owner,
               repo: context.repo.repo,
               run_id: context.payload.workflow_run.id,
            });
            let matchArtifact = allArtifacts.data.artifacts.filter((artifact) => {
              return artifact.name == "pr-artifacts"
            })[0];
            let download = await github.rest.actions.downloadArtifact({
               owner: context.repo.owner,
               repo: context.repo.repo,
               artifact_id: matchArtifact.id,
               archive_format: 'zip',
            });
            fs.writeFileSync(`${process.env.GITHUB_WORKSPACE}/pr-artifacts.zip`, Buffer.from(download.data));

      - name: 'Unzip artifacts'
        run: unzip pr-artifacts.zip

      - name: Retrieve PR number'
        id: pr-number
        run: |
          PR_NUMBER=$(cat pr-number)
          echo "$PR_NUMBER"
          echo "::set-output name=pr-number::$PR_NUMBER"

      - uses: actions/github-script@v5
        name: Sanitize validation logs
        id: sanitize-validate-log
        with:
          script: |
            const fs = require('fs')
            let validateLog = fs.readFileSync('validate.log')
            return validateLog.toString().replace("`", "").replace("~", "")

      - uses: actions/github-script@v5
        if: ${{ github.event.workflow_run.conclusion == 'success' }}
        env:
          PR_NUMBER: ${{ steps.pr-number.outputs.pr-number }}
          VALIDATE_LOG : ${{ steps.sanitize-validate-log.outputs.result }}
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const { PR_NUMBER, VALIDATE_LOG } = process.env
            const VALIDATE_LOG_DISPLAY = VALIDATE_LOG.replace("\\n", "\n")
            github.rest.issues.createComment({
              issue_number: PR_NUMBER,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: `:white_check_mark: Packages has been verified and are valid
              
              <details>
                <summary>View validation details</summary>
            ~~~
            ${VALIDATE_LOG_DISPLAY}
            ~~~
              </details>
              `
            })
  
      - uses: actions/github-script@v5
        if: ${{ github.event.workflow_run.conclusion == 'failure' }}
        env:
          PR_NUMBER: ${{ steps.pr-number.outputs.pr-number }}
          VALIDATE_LOG : ${{ steps.sanitize-validate-log.outputs.result }}
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const { PR_NUMBER, VALIDATE_LOG } = process.env
            const VALIDATE_LOG_DISPLAY = VALIDATE_LOG.replace("\\n", "\n")
            github.rest.issues.createComment({
              issue_number: PR_NUMBER,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: `:x: Packages has been verified and are flagged as invalid

              <details>
                <summary>View validation details</summary>
            ~~~
            ${VALIDATE_LOG_DISPLAY}
            ~~~
              </details>
              `
            })

