name: Pre-Analysis

on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]

permissions:
  contents: read

jobs:
  packages:
    if: ${{ !github.event.pull_request.draft }}
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:        
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '16'
      - run: npm ci

      - id: pr-changed-files
        uses: jitterbit/get-changed-files@b17fbb00bdc0c0f63fcf166580804b4d2cdc2a42 # v1
        with:
          format: 'json' 

      - name: "Retrieve updated packages"
        id: pr-updated-packages
        run: |
          readarray -t updated_files <<<"$(jq -r '.[]' <<<'${{ steps.pr-changed-files.outputs.added_modified }}')"
          packages=()
          for updated_file in ${updated_files[@]}; do
            echo "Processing updated file: ${updated_file}."
            if [[ ${updated_file} == *package.yaml ]]; then
              packages+=("${updated_file}")
            fi
          done
          PACKAGES_JSON=$(jq --compact-output --null-input '$ARGS.positional' --args -- "${packages[@]}")
          echo "packages_json=$PACKAGES_JSON" >> $GITHUB_ENV

      - name: "Retrieve bundles files"
        id: pr-bundles
        run: |
          readarray -t packages <<<"$(jq -r '.[]' <<<'${{ env.packages_json }}')"
          bundles=()
          for package in ${packages[@]}; do
            echo "Retrieving bundles for package ${package}."
            echo $(yq -e '.bundles[].downloadUrl' ${package})

            readarray -t package_bundles <<<"$(yq -e '.bundles[].downloadUrl' ${package})"
            for bundle in ${package_bundles[@]}; do
              bundles+=("${bundle}")
              echo " Adding bundle ${bundle} for analysis"
            done
          done

          BUNDLES_JSON=$(jq --compact-output --null-input '$ARGS.positional' --args -- "${bundles[@]}")

          mkdir -p ./pr-artifacts
          echo $BUNDLES_JSON > ./pr-artifacts/bundles.json

      - name: Save PR number
        if: ${{ always() }}
        run: |
          echo ${{ github.event.number }} > ./pr-artifacts/pr-number

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        if: ${{ always() }}
        with:
          name: pr-artifacts
          path: pr-artifacts/
